body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

img {
  /* Logo Secure Phone */
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.boton-iniciar-sesion {
  display: inline-block;
  background-color: #808080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.boton-iniciar-sesion:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-registrate {
  display: inline-block;
  background-color: #3f36f0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.boton-registrate:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.facebook,
.google {
  background-color: #3f36f0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.google {
  background-color: #3f36f0;
  margin-top: 10px;
}

.facebook img,
.google img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  margin: 0 10px 0 0;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
