html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  display: flex;
}

nav a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #3f36f0;
  color: #ecd444;
  text-decoration: none;
  border-radius: 3px;
  flex: 1;
}

nav a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a.active {
  background-color: #ecd444;
  color: #3f36f0
}

.content {
  text-align: left;
}

.configuraciones-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.divider {
  font-size: 16px;
  color: #333;
  white-space: nowrap;
}

.divider::before {
  flex-grow: 0;
  width: 5%;
}

.divider::after {
  flex-grow: 1;
}

.elemento-vacio {
  float: left;
  width: calc(30% - 20px);
  height: 0px;
  background: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.boton-config {
  background: none;
  cursor: pointer;
  margin-left: auto;
  display: block;
}

.boton-config:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-config img {
  width: 50%;
  height: 50%;
}

.botones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #3f36f0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 50%;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.faq p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.faq strong {
  font-weight: bold;
}
