<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecurePhone</title>
    <link rel="stylesheet" href="../css/stylesAjustes.css">
</head>
<body>

    <div class="container">

        <div class="header-container">
            <img src="/images/logoSecurePhone.svg" alt="Logo SecurePhone"> 
            <h1>SecurePhone</h1>
        </div>
        
        <nav>
            <a href="inicioOffline.html">Inicio</a>
            <a href="#" class="active">Ajustes</a>
            <a href="info.html">Información</a>
        </nav>

        <div class="content">
            <div class="configuraciones-container">
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div>
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <button class="boton-config">
                    <img src="../images/config.svg" alt="Configuraciones">
                </button>
            </div>
            
            <div class="divider">Configuraciones</div>

            <p>Configuración actual del dispositivo al activar el protocolo de robo</p>

            <div class="botones-container">
                <button>Compartir portocólo</button>
                <button>Borrar datos del dispositivo</button>
                <button>Descargar copia de seguridad</button>
            </div>
        </div>
    </div>

</body>
</html>