<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecurePhone</title>
    <link rel="stylesheet" href="../css/stylesInfo.css">
</head>
<body>

    <div class="container">

        <div class="header-container">
            <img src="/images/logoSecurePhone.svg" alt="Logo SecurePhone"> 
            <h1>SecurePhone</h1>
        </div>
        
        <nav>
            <a href="inicioOffline.html">Inicio</a>
            <a href="ajustes.html">Ajustes</a>
            <a href="#" class="active">Información</a>
        </nav>

        <div class="content">
            <div class="configuraciones-container">
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div>
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <div class="elemento-vacio"></div> 
                <button class="boton-config">
                    <img src="../images/config.svg" alt="Configuraciones">
                </button>
            </div>
            
            <div class="divider">Información</div>

            <div class="faq">
                <h2>¿Qué es SecurePhone?</h2>
                <p><strong>SecurePhone</strong> es la app encargada de la seguridad y rastreo de tu dispositivo móvil haciendo uso del gps y los sensores de movimiento.</p>

                <h2>¿Cómo funciona?</h2>
                <p>Si tu dispositivo fue robado (lo sentimos), este alertará los sensores de movimiento los cuales darán inicio al protocolo de activación que busca la confirmación (o no) de robo mediante la interfaz de nuestra aplicación. Si no hay respuesta se prosigue con el protocolo de robo que se configura en la pestaña de ajustes.</p>
            </div>
        </div>
    </div>

</body>
</html>