<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecurePhone</title>
    <link rel="stylesheet" href="../css/stylesReg.css"> 
</head>
<body>

    <div class="container">
        <img src="/images/logoSecurePhone.svg" alt="Icono de Seguridad"> <h1>SecurePhone</h1>

        <form>
            <div>
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario">
            </div>
            <div>
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena">
            </div>

            <a href="registrar.html" class="boton-registrate">Registrate</a>
            <a href="index.html" class="boton-iniciar-sesion">Inicia Sesión</a>
        </form>

        <button class="facebook">
            <img src="/images/facebook.svg" alt="Icono de Facebook"> 
            Registrate con Facebook
        </button>

        <button class="google">
            <img src="/images/google.svg" alt="Icono de Google"> 
            Registrate con Google
        </button>
    </div>

</body>
</html>